<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
 <h2>title</h2>
 <%= f.text_field :title %>

 <h2>body</h2>
 <%= f.text_area :body %>

<p>
 <%= f.submit 'Update Book' %>
</p>

<table>
 <tr>
  <td>
     <%= link_to "Show", book_path(@book.id) %>
  </td>

  <td>|</td>

  <td>
     <%= link_to "Back", books_path(@book.id) %>
  </td>
 </tr>
</table>

<% end %>